*.iml
.gradle
.idea
build
captures
local.properties
.DS_Store
*.bak
*.log
*.data
*.jsonl
app/src/main/assets/model.onnx
emotion_model_cpu/
emotion_model_7class/
tokenizer_out/
tokenizer_out_7class/
genmsg.txt
worker_debug.txt
